# 서버 설정
PORT=3000

# MySQL 설정
DB_HOST=ggachibal-db.cxwqissq6ao0.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=20081024
DB_NAME=ggachibal-db

# 카카오 설정
KAKAO_REST_API_KEY=your_kakao_rest_api_key
KAKAO_REDIRECT_URI=http://localhost:3000/auth/kakao/callback

# JWT 설정
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d
TEMP_TOKEN_EXPIRES_IN=10m

# 공공데이터포털 서비스키
PUBLIC_DATA_API_KEY=your_public_data_api_key

# 카카오 로컬 API (약국 검색)
KAKAO_LOCAL_API_KEY=your_kakao_local_api_key

# OpenAI API
OPENAI_API_KEY=your_openai_api_key

# AWS S3
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
AWS_S3_BUCKET=your_s3_bucket_name

# 알리고 문자 API
ALIGO_API_KEY=your_aligo_api_key
ALIGO_USER_ID=your_aligo_user_id
ALIGO_SENDER=your_sender_phone_number
